flask
gunicorn
pymongo[srv]
rvmendillo-image-to-ascii
requests
matplotlib
numpy
music21
Flask-SocketIO
eventlet==0.40.3
gevent-websocket
Flask-Compress
mbti-personality-prediction
scikit-learn
flask-cors