#ascii_output, #ascii_output:focus {
    font-family: Consolas;
    letter-spacing: -1.04px;
    line-height: 9.28px;
    font-size: 15px;
    resize: none;
    outline: none;
    border: 0.1rem solid silver;
	border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    white-space: pre-line;
}