#python_code, #python_output {
    border: 0.1rem solid silver;
    height: 300px;
    width: 100%;
    resize: none;
    outline: none;
    white-space: pre;
}

#python_code {
    font-family: Consolas;
}