@font-face {
	font-family: 'Montserrat Light';
	src: url("../fonts/Montserrat-Light.woff");
}

@font-face {
	font-family: 'Montserrat Hairline';
	src: url("../fonts/Montserrat-Hairline.woff");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0% 5%;
	font-family: 'Montserrat Light';
}

header {
	height: 100%;
}

.center_y {
	display: flex;
	align-items: center;
}

h1, h2 {
	margin: 0;
}

h1#name {
	font-family: 'Montserrat Hairline';
	font-size: 4rem;
	color: teal;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}

h2#subtitle {
	font-size: 1.75rem;
	color: slategray;
	text-transform: uppercase;
}