@font-face {
	font-family: 'Montserrat Light';
	src: url("../fonts/Montserrat-Light.woff");
}

@font-face {
	font-family: 'Montserrat Hairline';
	src: url("../fonts/Montserrat-Hairline.woff");
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Montserrat Light';
}

section {
	height: 100%;
	position: relative;
}

.row {
	display: table;
	padding: 0% 10%;
}

.column_half {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
}

.center_y {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

h1, h2, h3 {
	margin: 0;
}

h1#name {
	font-family: 'Montserrat Hairline';
	font-size: 3.75rem;
	color: teal;
	text-transform: uppercase;
	letter-spacing: -0.05rem;
	margin-bottom: 1rem;
}

h2#subtitle {
	font-size: 1.5rem;
	color: slategray;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

h3#description {
	font-size: 1.25rem;
}

#logo {
	float: right;
	width: 50%;
	height: auto;
}

#logo::after {
	content: "";
	clear: both;
	display: table;
}