@font-face {
	font-family: 'Montserrat Light';
	src: url("../fonts/Montserrat-Light.woff");
}

@font-face {
	font-family: 'Montserrat Hairline';
	src: url("../fonts/Montserrat-Hairline.woff");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0% 5%;
	font-family: 'Montserrat Light', Helvetica;
}

header, section {
	display: flex;
	flex-flow: column wrap;
	height: 100%;
}

.row {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 2rem;
	justify-content: space-between;
}

.column {
	flex: 1;
}

.column-2 {
	flex: 2;
}

h1, h2, h3 {
	margin: 0;
}

h1#name {
	font-family: 'Montserrat Hairline', Helvetica;
	font-size: 3.75rem;
	font-weight: 150;
	color: teal;
	text-transform: uppercase;
	letter-spacing: -0.055rem;
	margin-bottom: 0.75rem;
}

h2#subtitle {
	font-size: 1.5rem;
	font-weight: 150;
	color: slategray;
	text-transform: uppercase;
	margin-bottom: 1.75rem;
}

h3#description {
	font-size: 1.25rem;
	font-weight: 150;
	margin-bottom: 3rem;
}

#logo {
	display: block;
	float: right;
	width: 75%;
	height: auto;
}

#logo::after {
	content: '';
	clear: both;
	display: table;
}

.button {
	display: inline-block;
	background-color: midnightblue;
	border: 0.1rem solid midnightblue;
	color: white;
	padding: 1.25rem 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	box-shadow: inset 0 0 0 0 white;
	transition: ease-out 0.4s;
}

.button:hover {
	box-shadow: inset -35rem 0 0 0 white;
	color: midnightblue;
}

@media only screen and (max-width: 768px) {
	h1#name, h2#subtitle, h3#description {
		text-align: center;
	}

	.row {
		flex-flow: column wrap;
	}

	header .row {
		flex-flow: column-reverse wrap;
	}

	#logo {
		width: 100%;
	}

	.button {
		display: block;
		text-decoration: none;
		margin-bottom: 2rem;
	}
}