{% filter indent(width=8) %}
<section class="padding first_background">
    <div class="row center_y">
        <div class="column">
            <script type="text/javascript">
                atOptions = {
                    'key' : '8f5d7be971ada8214f6df9fb27ead07f',
                    'format' : 'iframe',
                    'height' : 250,
                    'width' : 300,
                    'params' : {}
                };
                document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.effectivecreativeformats.com/8f5d7be971ada8214f6df9fb27ead07f/invoke.js"></scr' + 'ipt>');
            </script>
        </div>
    </div>
</section>
{% endfilter %}