{% filter indent(width=8) %}
<section class="padding first_background">
    <div class="row center_y">
        <div class="column">
            <h1 data-aos="fade-up">Contact</h1>
            <a class="button" href="{{url_for('linkedin')}}" data-aos="zoom-in"><span class="fab fa-linkedin-in fa-lg"></span></a>
            <a class="button" href="{{url_for('github')}}" data-aos="zoom-in"><span class="fab fa-github fa-lg"></span></a>
            <a class="button" href="{{url_for('email')}}" data-aos="zoom-in"><span class="fa fa-envelope fa-lg"></span></a>
            <a class="button" href="{{url_for('call')}}" data-aos="zoom-in"><span class="fa fa-phone fa-lg"></span></a>
        </div>
    </div>
</section>
{% endfilter %}