{% filter indent(width=4, first=False) %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=307450604556014&autoLogAppEvents=1" nonce="SAUVLdgl"></script>
<div class="fb-like" data-href="http://www.rvmendillo.com" data-width="" data-layout="standard" data-action="recommend" data-size="small" data-share="true"></div>
<div class="fb-comments" data-href="http://www.rvmendillo.com" data-width="" data-numposts="5"></div>
{% endfilter %}