{% filter indent(width=8) %}
<header class="padding first_background">
    <div class="row center_y">
        <div class="column_2">
            <h1 id="name">Rey Victor Mendillo</h1>
            <h2 id="subtitle">Computer Scientist</h2>
            <h3 id="description">From his 3 years of education as a Computer Science student of Mapúa University, his expertise lies in Software and Web Development with specialization in Artificial Intelligence.</h3>
            <a class="button" onclick="go_to_projects();">Explore Projects</a>
            <a class="button" href="resume">Download Résumé</a>
        </div>
        <div class="column">
            <img id="logo" src="../static/images/corporate_attire_circle.png" />
        </div>
    </div>
</header>
{% endfilter %}