{% filter indent(width=8) %}
<section class="padding second_background">
    <div class="row center_y">
        <div class="column">
            <h1>Transform Your Image</h1>
            <form action="/project/image_to_ascii" method="post" enctype="multipart/form-data">
                <div class="row multicolumn">
                    <div class="column">
                        <h2>Input Type</h2>
                        <input type="radio" id="url" name="input_type" value="URL" onclick="toggle_input_type();" />
                        <label for="url"><h3>URL</h3></label>
                        <br />
                        <input type="radio" id="file" name="input_type" value="File" onclick="toggle_input_type();" checked />
                        <label for="file"><h3>File</h3></label>
                        <br />
                        <br />
                        <div id="url_section" style="display: none;">
                            <label for="image_url"><h2>Image URL</h2></label>
                            <input id="image_url" name="image_url" class="text_field" />
                        </div>
                        <div id="file_section">
                            <label for="image_file"><h2>Image File</h2></label>
                            <input type="file" id="image_file" name="image_file" accept=".jpg" onchange="document.getElementById('image_file_display').value = this.files[0].name;" />
                            <input placeholder="No file chosen" class="text_field" id="image_file_display" name="image_file_display" onclick="image_file.click();" readonly />
                        </div>
                    </div>
                    <div class="column">
                        <label for="target_width"><h2>Target Width in Pixels</h2></label>
                        <input type="number" id="target_width" name="target_width" value="300" class="text_field" />
                        <br />
                        <br />
                        <label for="charset"><h2>Character Set (highest to lowest density)</h2></label>
                        <input id="charset" name="charset" value="#Wo- " class="text_field" />
                    </div>
                    <div class="column">
                        <h2>Color Inversion</h2>
                        <input type="radio" id="true" name="color_inversion" value="True" checked />
                        <label for="true"><h3>True</h3></label>
                        <br />
                        <input type="radio" id="false" name="color_inversion" value="False" />
                        <label for="false"><h3>False</h3></label>
                        <br />
                        <br />
                        <h2>Output Type</h2>
                        <input type="radio" id="text" name="output_type" value="Text" />
                        <label for="text"><h3>Text</h3></label>
                        <br />
                        <input type="radio" id="image" name="output_type" value="Image" checked />
                        <label for="image"><h3>Image</h3></label>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lfq6-QdAAAAACk4wX-YuRhedQk23IYm1ZaodOPE"></div>
                <br />
                <button type="submit" class="button">Asciify</button>
            </form>
            {% if base64_string %}
            <img src='data:image/png;base64,{{base64_string}}' width='100%' />
            {% elif ascii_output %}
            <textarea>{{ascii_output}}</textarea>
            {% endif %}
        </div>
    </div>
</section>
{% endfilter %}