{% filter indent(width=8) %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="title" content="Rey Victor Mendillo | Computer Scientist" />
<meta name="description" content="From his 3 years of education as a Computer Science student of Mapúa University, his expertise lies in Software and Web Development with specialization in Artificial Intelligence." />
<meta name="keywords" content="rey victor mendillo, rvmendillo, computer science degree, computer science, computer scientist, software engineer, software engineering, software development, application development, app development, web developer, web designer, web development, web design, web application, web app, web application developer, web app developer, web application development, web app development, artificial intelligence, machine learning, back end developer, back end development, front end developer, front end development, full stack developer, full stack development, python, python developer, python development, automation, java, java developer, java development, c++, c++ developer, c++ development, reactjs, reactjs developer, reactjs development, javascript, javascript developer, javascript development, php, php developer, php development" />
<meta name="google-site-verification" content="Yu54ACH_shgi2IVBkcN0SmoKdGmH5Lz5VI_tVztv-cE" />
<meta property="og:title" content="Rey Victor Mendillo | Computer Scientist" />
<meta property="og:description" content="From his 3 years of education as a Computer Science student of Mapúa University, his expertise lies in Software and Web Development with specialization in Artificial Intelligence." />
<meta property="og:image" content="https://rvmendillo.com/static/images/corporate_attire_circle.png" />
<link rel="icon" href="../static/images/corporate_attire_icon.png">
<link rel="canonical" href="https://rvmendillo.com" />
{% endfilter %}
