{% filter indent(width=8) %}
<section class="padding second_background">
    <div class="row center_y">
        <div class="column">
            <h1>MIDI Player</h1>
            <midi-visualizer type="waterfall" id="mainVisualizer" src="../static/files/A Lovely Dream.mid"></midi-visualizer>
            <midi-player src="../static/files/A Lovely Dream.mid" sound-font="../static/files/MuseScore_General.sf3" visualizer="#mainVisualizer" id="mainPlayer"></midi-player>
            <label for="midiFile">Load MIDI file:</label>
            <input type="file" id="midiFile" name="midiFile" accept="audio/midi, audio/x-midi" />
        </div>
    </div>
</section>
{% endfilter %}