{% filter indent(width=8) %}
<section class="padding second_background" id="output">
    <div class="row center_y">
        <div class="column">
            <h1>MIDI Player</h1>
            <midi-visualizer type="waterfall" id="mainVisualizer" src="../static/files/A Lovely Dream.mid"></midi-visualizer>
            {% if output %}
                <midi-player src="data:audio/midi;base64,{{original_file}}" sound-font="" visualizer="#mainVisualizer" id="mainPlayer"></midi-player>
            {% else %}
                <midi-player src="../static/files/A Lovely Dream.mid" sound-font="" visualizer="#mainVisualizer" id="mainPlayer"></midi-player>
            {% endif %}
            <br />
            <form action="/project/midi_to_relative_scale" method="post" enctype="multipart/form-data">
                <label for="midi_file"><h2>MIDI File</h2></label>
                <input type="file" id="midi_file" name="midi_file" accept=".mid, .midi" onchange="document.getElementById('midi_file_display').value = this.files[0].name;" />
                <input placeholder="No file chosen" class="text_field" id="midi_file_display" name="midi_file_display" onclick="midi_file.click();" readonly />
                <br />
                <br />
                <div class="g-recaptcha" data-sitekey="6Lfq6-QdAAAAACk4wX-YuRhedQk23IYm1ZaodOPE"></div>
                <br />
                <button type="submit" class="button">Upload MIDI File</button>
            </form>
        </div>
    </div>
</section>
<section class="padding first_background" id="output">
    <div class="row center_y">
        <div class="column">
            <h1>Output</h1>
            <midi-visualizer type="waterfall" id="outputVisualizer" src="../static/files/Nightmare.mid"></midi-visualizer>
            {% if output %}
                <midi-player src="data:audio/midi;base64,{{output}}" sound-font="" visualizer="#outputVisualizer" id="outputPlayer"></midi-player>
            {% else %}
                <midi-player src="../static/files/Nightmare.mid" sound-font="" visualizer="#outputVisualizer" id="outputPlayer"></midi-player>
            {% endif %}
        </div>
    </div>
</section>
{% endfilter %}