{% filter indent(width=8) %}
<section class="padding second_background">
    <div class="row center_y">
        <div class="column">
            <h1>MIDI Player</h1>
            <midi-visualizer type="waterfall" id="mainVisualizer" src="../static/files/A Lovely Dream.mid"></midi-visualizer>
            {% if base64_string %}
                <midi-player src="data:audio/midi;base64,{{base64_string}}" sound-font="" visualizer="#mainVisualizer" id="mainPlayer"></midi-player>
            {% else %}
                <midi-player src="../static/files/A Lovely Dream.mid" sound-font="" visualizer="#mainVisualizer" id="mainPlayer"></midi-player>
            {% endif %}
            <form action="/project/midi_to_relative_scale" method="post" enctype="multipart/form-data">
                <input type="file" id="midi_file" name="midi_file" accept=".mid, .midi" />
                <br />
                <button type="submit" class="button">Upload MIDI File</button>
            </form>
        </div>
    </div>
</section>
{% endfilter %}