{% filter indent(width=8) %}
<section class="second_background">
    <div class="row center_y">
        <div class="column padding">
            <h1>Projects</h1>
            {% for project in project_list %}
                {% if loop.index % 3 == 1 %}
                    <div class="row">
                {% endif %}
                <div class="column">
                    <h2>{{project['name']}}</h2>
                    <h3>{{project['category']}}</h3>
                    <h4>{{project['description']}}</h4>
                    <a class="button" href="{{project['github']}}">GitHub Repository</a>
                    <a class="button" href="{{project['demo']}}">Live Demo</a>
                </div>
                {% if loop.index % 3 == 3 %}
                    </div>
                {% endif %}
                {% if loop.index == loop.length and loop.index % 3 != 3 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endfilter %}