{% filter indent(width=8) %}
<script>
    window.history.replaceState(null, document.title, "/project/{{path}}")
</script>
<section class="padding first_background">
    <div class="row center_y">
        <div class="column">
            <span id="toggle_dark_icon" class="fas fa-adjust fa-2xl" onclick="document.body.classList.toggle('dark_mode');"></span>
            <h1 id="name">{{name}}</h1>
            <h2 id="subtitle">{{category}}</h2>
            <h3 id="description">{{description}}</h3>
            <a class="button" href="{{github}}">GitHub Repository</a>
            <a class="button" href="{{demo}}">Live Demo</a>
        </div>
    </div>
</section>
{% include path + '.html' %}
{% endfilter %}