{% filter indent(width=8) %}
<section class="second_background">
    <div class="row center_y">
        <div class="column padding">
            <h1>Projects</h1>
            <div class="row">
                <div class="column">
                    <h2>Image to ASCII</h2>
                    <h3>Image Processing</h3>
                    <h4>It generates and saves ASCII texts and colored images from pixels of a JPEG file.</h4>
                    <a class="button">GitHub Repository</a>
                    <a class="button">Live Demo</a>
                </div>
                <div class="column">
                    <a class="button">B</a>
                </div>
                <div class="column">
                    <a class="button">C</a>
                </div>
            </div>
            {% for project in project_list %}
            <a class="button" href="project/{{project['path']}}">{{project['name']}}</a>
            {% endfor %}
        </div>
    </div>
</section>
{% endfilter %}