{% filter indent(width=8) %}
<header class="padding">
    <div class="row center_y">
        <div class="column">
            <h1 id="name" data-aos="fade-up">{{name}}</h1>
            <h2 id="subtitle" data-aos="fade-up">{{category}}</h2>
            <h3 id="description" data-aos="fade-up">{{description}}</h3>
            <a class="button" href="{{github}}" data-aos="zoom-in">GitHub Repository</a>
            <a class="button" href="{{demo}}" data-aos="zoom-in">Live Demo</a>
        </div>
    </div>
</header>
{% include path + '.html' %}
{% endfilter %}