{% filter indent(width=8) %}
<script>
    window.history.replaceState(null, document.title, "/project/{{path}}")
</script>
<header class="padding">
    <div class="row center_y">
        <div class="column">
            <h1 id="name">{{name}}</h1>
            <h2 id="subtitle">{{category}}</h2>
            <h3 id="description">{{description}}</h3>
            <a class="button" href="{{github}}">GitHub Repository</a>
            <a class="button" href="{{demo}}">Live Demo</a>
        </div>
    </div>
</header>
{% include path + '.html' %}
{% endfilter %}