{% filter indent(width=8) %}
<section class="padding second_background" id="output">
    <div class="row center_y">
        <div class="column">
            <h1>Code Playground</h1>
            <form action="/project/python_compiler" method="post">
                <div class="row multicolumn">
                    <textarea class="column" id="python_code" name="python_code" contenteditable="true">
                    {% if python_code %}
                    {{python_code}}
                    {% endif %}
                    </textarea>
                    {% if output %}
                    <div class="column" id="python_output">{{output}}</div>
                    {% elif error %}
                    <div class="column" id="python_output">{{error}}</div>
                    {% endif %}
                </div>
                <div class="g-recaptcha" data-sitekey="6Lfq6-QdAAAAACk4wX-YuRhedQk23IYm1ZaodOPE"></div>
                <br />
                <button type="submit" class="button">Run Code</button>
            </form>
        </div>
    </div>
</section>
{% endfilter %}