{% filter indent(width=8) %}
<section class="padding second_background" id="output">
    <div class="row center_y">
        <div class="column">
            <h1>Code Playground</h1>
            <form action="/project/python_compiler" method="post">
                <div class="row multicolumn">
                    <div class="column">
                        <label for="python_code"><h2>Editor</h2></label>
                        <textarea id="python_code" name="python_code" contenteditable="true" onkeydown="allow_tab_key(event);"></textarea>
                    </div>
                    <div class="column">
                        <label for="python_output"><h2>Output</h2></label>
                        <textarea id="python_output" name="python_output" readonly></textarea>
                    </div>
                </div>
                <div class="g-recaptcha" data-sitekey="6Lfq6-QdAAAAACk4wX-YuRhedQk23IYm1ZaodOPE"></div>
                <br />
                <button type="submit" class="button">Run Code</button>
            </form>
            {% if output %}
                <script>
                    document.getElementById("python_code").innerHTML = atob("{{python_code}}");
                    document.getElementById("python_output").innerHTML = atob("{{output}}");
                </script>
            {% elif error %}
                <script>
                    document.getElementById("python_code").innerHTML = atob("{{python_code}}");
                    document.getElementById("python_output").innerHTML = atob("{{error}}");
                </script>
            {% else %}
                <script>
                    document.getElementById("python_code").innerHTML = atob("ZnJvbSByZXF1ZXN0cyBpbXBvcnQgcG9zdAoKcHl0aG9uX2NvZGUgPSAiIiIKCmRlZiBmKHgpOgogICAgaWYgeCA9PSAwOgogICAgICAgIHJldHVybiAxCiAgICByZXR1cm4geCAqIGYoeC0xKQoKZmFjdG9yaWFsX291dHB1dHMgPSBbZiIoe199ISkhID0ge2YoZihfKSl9IiBmb3IgXyBpbiByYW5nZSg0KV0KCmZvciBfIGluIGZhY3RvcmlhbF9vdXRwdXRzOgogICAgcHJpbnQoXykKCiIiIgoKanNvbiA9IHsncHl0aG9uX2NvZGUnOiBweXRob25fY29kZX0KcmVzcG9uc2UgPSBwb3N0KCdodHRwczovL3J2bWVuZGlsbG8uY29tL2FwaS9weXRob25fY29tcGlsZXInLCBqc29uPWpzb24pCnByaW50KHJlc3BvbnNlLmpzb24oKVsnb3V0cHV0J10p");
                    document.getElementById("python_output").innerHTML = atob("KDAhKSEgPSAxCigxISkhID0gMQooMiEpISA9IDIKKDMhKSEgPSA3MjAK");
                </script>
            {% endif %}
        </div>
    </div>
</section>
{% endfilter %}