{% filter indent(width=8) %}
<section class="padding second_background">
    <div class="row center_y">
        <div class="column">
            <h1>Code Playground</h1>
            <form action="/project/python_compiler" method="post">
                <textarea id="python_code" name="python_code"></textarea>
                <div class="g-recaptcha" data-sitekey="6Lfq6-QdAAAAACk4wX-YuRhedQk23IYm1ZaodOPE"></div>
                <br />
                <button type="submit" class="button">Run Code</button>
            </form>
            {% include 'facebook_integration.html' %}
            {% include 'adsense_integration.html' %}
            {% if output %}
            <textarea readonly="readonly">{{output}}</textarea>
            {% elif error %}
            <textarea readonly="readonly">{{error}}</textarea>
            {% endif %}
        </div>
    </div>
</section>
{% endfilter %}
