{% filter indent(width=8) %}
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=307450604556014&autoLogAppEvents=1" nonce="SAUVLdgl"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2764496701411097" crossorigin="anonymous"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="../static/scripts/get_dpi.js"></script>
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js"></script>
<script type="text/javascript" src="https://cifkao.github.io/html-midi-player/assets/js/index.js"></script>
<script src="../static/scripts/go_to_projects.js"></script>
{% endfilter %}